<h5>Thank you for per-registering to Deputize America!</h5>

<h3>Dear <%= @registration_info.first_name %>,</h3>

<p>
	Thank you for pre-registering.  Your commitment to become an American Deputy and your desire to have your family and community safer makes you a modern day hero.
</p>

<p>
	With the goal to enroll 10 Million American Deputies, we are well on our way.  We encourage you to suggest this to your friends as well.  There is special pricing for those preregistered.
</p>

<p>
	The APP will launch in early November and we will let you know the moment it happens.
</p>

<p>
	Welcome to the Deputize America Family!
</p>

<p>
	We will be in touch soon.  The APP will launch this November!
</p>

<p>
Michael Carrigan,<br>
Founder, DeptizeAmerica.org<br>
<%= mail_to 'info@deputizeamerica.org' %>
</p>