<h5>Thank you for pre-registering for the Deputize America <strong>"Personal Security"</strong> APP. You are now closer to protecting yourself and others.</h5>

<h3>Dear <%= @registration_info.first_name %>,</h3>

<p>
	Most of us have felt afraid in situations at some time in our life.  It is now time for us, as Americans, to take control of our own safety.
</p>

<p>
	It is also time for us to go back in time and start assisting each other when in need.  Sometimes assistance may look as simple as walking a college student to their car in the dark.  Other times it may be interrupting a potentially dangerous situation.  We can even locate each other in a natural disaster.
</p>

<p>
	You will be able to know where your families are, following them if they request it and ask for outside assistance from our modern day hero’s <strong style="color: #ff0000;">"American Deputies"</strong>.
</p>

<p>
	The APP will launch in early November and we will let you know the moment it happens.
</p>

<br><br>

<p>
	Welcome to the Deputize America Family!
</p>

<p>
	We will be in touch soon.  The APP will launch this November!
</p>

<br><br>

<p>
	<em><strong>
		Please share Deputize America.org with your family and friends.  Between all of us … we will make our country Safer!
	</strong></em>
</p>

<p>
Thank you again,<br>
Michael Carrigan<br>
<br>
Founder, DeptizeAmerica.org<br>
<%= mail_to 'info@deputizeamerica.org' %>
</p>
