<h5>Thank you for per-registering to become an American Deputy!</h5>

<h3>Dear <%= @registration_info.first_name %>,</h3>

<p>
	<strong>It’s time for some of us to start kicking ass in America.  We are sick and tired of bully’s, child and elder abusers, violence against women, criminals, terrorists and injustice.  </strong>
</p>

<p>
	Your participation will be appreciated by your community and by the country at large.  In the next few weeks we will contact you when we are ready to launch.  Instructions on what to do next will be included.
</p>

<p>
	In the meantime, please tell your friends so that they can get involved too.  <strong>Our goal is to sign up 10 Million Americans dedicated to the safety of this great country.</strong>
</p>

<p>
This will be exciting!  You will love the APP and how you can make a difference.
</p>

<p>
Thank you again for your support.  
</p>

<p>
Michael Carrigan,<br>
Founder, DeptizeAmerica.org<br>
<%= mail_to 'info@deputizeamerica.org' %>
</p>