<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>Editing Category</h1>

            <br>
            <%= link_to (fa_icon('eye') + ' Show'), @category, class: 'btn btn-lg btn-primary' %> |
            <%= link_to (fa_icon('backward') + ' Back'), categories_path, class: 'btn btn-lg btn-primary' %>
            <br><br>

            <%= render 'form' %>

        </div>
    </div>
</div>
