<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>Editing Product</h1>

            <br>
            <%= link_to (fa_icon('eye') + ' Show'), category_product_path(@category, @product), class: 'btn btn-lg btn-primary' %> |
            <%= link_to (fa_icon('backward') + ' Back'), category_products_path(@category), class: 'btn btn-lg btn-primary' %>
            <br><br>

            <%= render 'form' %>

        </div>
    </div>
</div>
